.blog_image {
    max-width: 100%;
    margin: auto;
    display: block;
    max-height: 75vh;
}

#gpt-output {
    color: white;
    background-color: black;
}

.footnote {
    border-top: 1px solid #ccc; /* Thin border at the top */
    width: 50%; /* Centered width */
    margin: auto; /* Center alignment with spacing */
    text-align: center; /* Center text */
    font-size: 0.9em; /* Slightly smaller font size */
    color: gray; /* Subtle text color */
    padding-bottom: 20px; /* Space between border and text */
}

.toc {
    position: fixed;
    right: 20px;
    top: 100px;
    width: 200px;
    border-left: 1px solid #ccc;
    padding-left: 10px;
    font-size: 0.9em;
    background: #f9f9f9;
    height: 80%; /* Adjust as needed */
    overflow-y: auto; /* Enable scrolling for long lists */
}

.toc h3 {
    margin-top: 0;
    font-size: 1.2em;
}

.toc ul {
    list-style: none;
    padding: 0;
}

.toc ul li {
    margin: 5px 0;
}

.toc ul li a {
    text-decoration: none;
    color: #007BFF;
}

.toc ul li a:hover {
    text-decoration: underline;
}
