#sticky-div {
    position: fixed;
    top: 0; /* Distance from the top of the viewport */
    z-index: 1000; /* Ensures it stays above other elements */
    background-color: white; /* Prevents overlapping content visibility */
    padding: 10px;
    width: 100%;
    text-align: center;
    display: flex;
}

#main-heading {
    display: flex;
    font-size: 3.5vw;
    align-items: center; /* Centers items vertically */
    justify-content: center;
    text-align: center;
}

@media (min-width: 600px) {
    #main-heading {
        font-size: 3.5vw;
    }
}

@media (min-width: 1200px) {
    #main-heading {
        font-size: 3.5vw;
    }
}

.quarto-title-meta {
    display: flex;
    margin-top: 7.5vh;
    justify-content: space-between; /* Pushes items to opposite sides */
    align-items: center; /* Aligns items vertically in the center (optional) */
}

#title-block-header {
    background-color: white; /* Makes the entire header background white */
    width: 100vw; /* Ensures it spans the full width of the viewport */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for visual separation */
    position: sticky; /* Keeps it visible at the top of the page when scrolling */
    top: 0; /* Ensures the sticky position is at the very top */
    z-index: 1000; /* Keeps the header above other elements */
    margin: 0;
}


.quarto-title {
    display: block;
}

.blog_image {
    max-width: 100%;
    margin: auto;
    display: block;
    max-height: 75vh;
}

#gpt-output {
    color: white;
    background-color: black;
}

.footnote {
    border-top: 1px solid #ccc; /* Thin border at the top */
    width: 50%; /* Centered width */
    margin: auto; /* Center alignment with spacing */
    text-align: center; /* Center text */
    font-size: 0.9em; /* Slightly smaller font size */
    color: gray; /* Subtle text color */
    padding-bottom: 20px; /* Space between border and text */
}

.toc {
    display: none;
    position: fixed;
    right: 20px;
    top: 100px;
    width: 200px;
    border-left: 1px solid #ccc;
    padding-left: 10px;
    font-size: 0.9em;
    background: #f9f9f9;
    height: 80%;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
}

.toggle-button {
    position: fixed;
    right: 20px;
    top: 10px;
    padding: 5px 10px;
    font-size: 0.9em;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    background-color: #0056b3;
}

.toc h3 {
    margin-top: 0;
    font-size: 1.2em;
}

.toc ul {
    list-style: none;
    padding: 0;
}

.toc ul li {
    margin: 5px 0;
}

.toc ul li a {
    text-decoration: none;
    color: #007BFF;
}

.toc ul li a:hover {
    text-decoration: underline;
}
